.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f9fc;
    font-family: 'Roboto', sans-serif;
  }
  
  .title {
    font-size: 2.2rem;
    color: #2c3e50;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px #ecf0f1;
  }
  
  .flagImage {
    width: 220px;
    margin-bottom: 25px;
    border-radius: 12px;
    border: 2px solid #2980b9;
    transition: transform 0.3s;
  }
  
  .flagImage:hover {
    transform: scale(1.05);
  }
  
  .inputField {
    font-size: 1.2rem;
    padding: 12px;
    width: 330px;
    margin-bottom: 20px;
    border: 2px solid #bdc3c7;
    border-radius: 8px;
    outline: none;
    background-color: #ecf0f1;
    transition: border-color 0.3s;
  }
  
  .inputField:focus {
    border-color: #2980b9;
  }
  
  .button {
    font-size: 1.2rem;
    padding: 12px 24px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background-color: #1c5980;
    transform: scale(1.05);
  }
  
  .points {
    font-size: 1.4rem;
    margin-top: 25px;
    color: #34495e;
  }
  
  .timer {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #e74c3c;
  }
  

  .centrador{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f9fc;
    font-family: 'Roboto', sans-serif;
  }
  
  .title {
    font-size: 2.2rem;
    color: #2c3e50;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px #ecf0f1;
  }
  
  .description {
    font-size: 1.2rem;
    color: #7f8c8d;
    text-align: center;
    max-width: 600px;
    margin-bottom: 30px;
  }
  
  .button {
    font-size: 1.2rem;
    padding: 12px 24px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .button:hover {
    background-color: #1c5980;
    transform: scale(1.05);
  }
  